<!DOCTYPE html>
<html>
<head>
    <title>Quiz Master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('main_bp.home') }}">Home</a>
            {% if session.get('user_id') %}
                <a href="{{ url_for('main_bp.home') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('main_bp.login') }}">Login</a>
                <a href="{{ url_for('main_bp.register') }}">Register</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>